* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #D0DEDF;
  --light-green: #DBE3A1;
  --light-orange: #F5A042;
  --med-green: #A7BE4C;
  --med-orange: #D66A2C;
  --dark: #160a03;
  --white: rgb(238, 245, 249);
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Nanum Pen Script', cursive;
}

h1 {
  font-family: 'Bad Script', cursive;
}

h1 span {
  font-family: 'Fredericka the Great', cursive;
}


/* NAVBAR starts here */

#navbar-column {
  background-color: var(--light-orange);
  /* sets the height to the height of the screen */
  height:100vh;
}

#navlinks {
  margin-left: 0;
  align-items: baseline;
  font-family: 'Fredericka the Great', cursive;
}